---
import I18nKey from "../../../i18n/i18nKey";
import { i18n } from "../../../i18n/translation";
import { getTagList } from "../../../utils/content-utils";
import {
	getComponentConfig,
	widgetManager,
} from "../../../utils/widget-manager";
import { getTagUrl } from "../../../utils/url-utils";
import ButtonTag from "../../control/ButtonTag.astro";
import WidgetEmptyState from "../common/WidgetEmptyState.astro";
import WidgetLayout from "../common/WidgetLayout.astro";

const tags = await getTagList();
const tagsWidgetConfig = getComponentConfig("tags");
const isCollapsed = widgetManager.isCollapsed(tagsWidgetConfig, tags.length);
const collapsedRows = widgetManager.getCustomProp(
	tagsWidgetConfig,
	"collapsedRows",
	3,
);

interface Props {
	class?: string;
	style?: string;
}
const className = Astro.props.class;
const style = Astro.props.style;
---

<WidgetLayout
	name={i18n(I18nKey.tags)}
	id="tags"
	isCollapsed={isCollapsed}
	collapsedRows={collapsedRows}
	class={className}
	style={style}
>
	{
		tags.length > 0 ? (
			<div class="flex gap-2 flex-wrap">
				{tags.map((t) => (
					<ButtonTag
						href={getTagUrl(t.name)}
						label={`View all posts with the ${t.name.trim()} tag`}
					>
						{t.name.trim()}
					</ButtonTag>
				))}
			</div>
		) : (
			<WidgetEmptyState
				icon="material-symbols:tag-rounded"
				title={i18n(I18nKey.tagsEmpty)}
				compact={true}
			/>
		)
	}
</WidgetLayout>
